<div class="container">
    <div class="row">
        <h2>{{ahorro?.nombre}}</h2>
        <h2>{{ahorro?.total | currency}}</h2>
        <div class="col-6">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="colocarTitulo('Deposito')">
                Depositar
            </button>
            <table class="table">
                <tbody>
                    @for (item of ahorro?.depositos; track $index) {
                    <tr>
                        <td>{{item.cantidad | currency}}</td>
                        <td>{{item.concepto}}</td>
                        <td>{{item.referencia}}</td>
                        <td>{{item.fechaDeRegistro | date}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="colocarTitulo('Retiro')">
                Retirar
            </button>
            <table class="table">
                <tbody>
                    @for (item of ahorro?.retiros; track $index) {
                    <tr>
                        <td>{{item.cantidad | currency}}</td>
                        <td>{{item.concepto}}</td>
                        <td>{{item.referencia}}</td>
                        <td>{{item.fechaDeRegistro | date}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #botonDeCerrar></button>
            </div>
            <div class="modal-body">
                <app-formulario-de-movimiento (eventEmiterMovimiento)="mover($event)" />
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>