<form [formGroup]="formGroup" (ngSubmit)="agregar()">
    <div>
        <select formControlName="nombre">
            <option value="">Seleccione subcategoria</option>
            @for (item of subcategorias; track $index) {
            <option value="{{item.nombre}}">{{item.nombre}} {{item.cantidad | currency}}</option>
            }
        </select>
    </div>
    <div>
        <select formControlName="ahorroId">
            <option value="">Seleccione ahorro</option>
            @for(item of ahorros; track item.id){
            <option value="{{item.id}}">{{item.nombre}} {{item.total | currency}}</option>
            }
        </select>
    </div>
    <div>
        <input type="number" formControlName="cantidad" min="10" max="3000">
    </div>
    <div>
        <input type="text" formControlName="guid" />
    </div>
    <div>
        <button type="submit">Agregar</button>
        <button type="reset">Cancelar</button>
    </div>
</form>
<div>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Subcategoria</th>
                <th>Ahorro</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        @for (detalle of version?.detalles; track $index) {
        <tr>
            <td>
                {{detalle.nombre}}
            </td>
            <td>
                {{detalle.ahorroId}}
            </td>
            <td>
                {{detalle.cantidad | currency}}
            </td>
            <td>
                <button (click)="editar(detalle)">Editar</button>
            </td>
        </tr>
        }
    </table>
</div>