<form [formGroup]="formGroup" (ngSubmit)="guardar()">
    <div class="row g-3 align-items-center">
        <div class="col-5">

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" maxlength="25" formControlName="nombre" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors}" #nombre/>
                @if(submitted && f['nombre'].errors?.['required']){
                <div class="invalid-feedback">
                    @if(f['nombre'].errors?.['required']){
                    <div>Ingresa un nombre</div>
                    }
                </div>
                }
            </div>

            <div class="mb-3">
                <label class="form-label">Interes</label>
                <input type="number" min="0" max="20" formControlName="interes" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha inicial</label>
                <input type="date" formControlName="fechaInicial" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha final</label>
                <input type="date" formControlName="fechaFinal" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Tipo de ahorro</label>
                <div>
                    @if(estaCargandoTipoDeAhorro){
                    <div class="spinner-border spinner-border-sm text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    } @else {
                    <select formControlName="tipoDeAhorro" class="form-select" #tipoDeAhorro
                        [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors}">
                        <option value="">Seleccione</option>
                        @for(item of tipoDeAhorros; track item.id){
                        <option value="{{item.nombre}}">{{item.nombre}}</option>
                        }
                    </select>
                    @if(submitted && f['tipoDeAhorro'].errors?.['required']){
                    <div class="invalid-feedback">
                        @if(f['tipoDeAhorro'].errors?.['required']){
                        <div>Seleccione un tipo de ahorro</div>
                        }
                    </div>
                    }
                    }
                </div>
            </div>
            <div class="mb-3">
                @if(estaCargando){
                <button type="submit" class="btn btn-primary" [disabled]="estaCargando">
                    Un momento
                    <div class="spinner-border spinner-border-sm text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @else {
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
                }
            </div>
        </div>
    </div>
</form>