<form [formGroup]="formGroup" (ngSubmit)="guardar()">
    <div class="mb-3">
        <label class="form-label">Cantidad</label>
        <input type="number" formControlName="cantidad" #cantidad min="1" max="3500" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && formGroup.controls['cantidad'].errors}" />
        @if(submitted && formGroup.controls['cantidad'].errors){
        <div class="invalid-feedback">
            @if(formGroup.controls['cantidad'].errors?.['required']){
            <div>Ingresa una cantidad</div>
            }
            @if(formGroup.controls['cantidad'].errors?.['min']){
            <div>Ingresa una cantidad mayor a cero</div>
            }
        </div>
        }
    </div>
    <div class="mb-3">
        <label class="form-label">Nota</label>
        <input type="text" formControlName="nota" class="form-control">
    </div>
    <div class="mb-3">
        @if(estaCargando){
        <button type="submit" class="btn btn-primary" [disabled]="estaCargando">
            Un momento
            <div class="spinner-border spinner-border-sm text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </button>
        }
        @else {
        <button type="submit" class="btn btn-primary">
            Guardar
        </button>
        }
    </div>
</form>