<div class="container">

    <a href="/ahorros/agregar">Agregar</a>
    @if(estaCargando){
    <div class="d-flex justify-content-center text-primary">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    }
    @else {

    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Total</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Total</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @for (item of ahorros; track item.id) {
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.otros.tipoDeCuenta}}</td>
                <td>{{item.total | currency}}</td>
                <td>
                    <a [routerLink]="['/','ahorros',item.id,'deposito']">Depositar</a>
                </td>
                <td>
                    <a [routerLink]="['/','ahorros',item.id,'retiro']">Retirar</a>
                </td>
                <td>
                    <a [routerLink]="['/','ahorros',item.id,'detalles']">Detalles</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
</div>